.iShop { background-color: rgba(255, 255, 255, 0.5); width:50vw; height: 100vh;  padding: 0px 7px; margin: 0 auto;  color: yellow;}
.iShop .ShopName{  font-weight: bold;  text-align: center;}
.iShop .Lists{ padding-top: 5px;}

.iShop .Lists .List{  padding: 0px 0;  display: flex;  flex-basis: auto;  justify-content: space-between; align-items: center;color: yellow;}
.iShop .Lists .List :hover{color: red; transition-duration: 1s;transform: scale(1.2); }
.iShop .Lists .List .Count{     flex-basis: 16.6%; font-weight: bold;text-align: center;}
.iShop .Lists .List .Count{     flex-basis: 16.6%; text-align: center;}
.iShop .Lists .List .Text{    flex-basis: 16.6%;    text-align: center;}
.iShop .Lists .List .Prices{    flex-basis: 16.6%;    text-align: center;    font-style:italic;}
.iShop .List .List .Imga{    flex-basis: 16.6%;    text-align: center;    font-size: 9px;}

.Animation { height: 0px; opacity: 0;  transition-duration:1s;}

.Blue {background-color: rgba(255, 255, 255, 0.7); transition-duration: 1s; transform: scale(1.1);}
.Red {color: red;}

.Card {border: dotted green 1px; width: 40vw; padding: 3px 7px;  margin: 10px auto; background-color: lightgreen}
.Card .ViewInput {min-width: 20vw;}
.Card .ViewDiv {min-width: 5vw; float: left}

.leftPannel {
    transition-duration: 1s;
    background-color: rgba(255, 255, 255, 0.5);
    width: 15vw;
    height: 25vh;
    position: absolute;
    left: 0;
    top: 0;
}

.addsPannel{
    transition-duration: 1s;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-basis: 300px;
    width: 15vw;
    height: 90vh;
    position: absolute;
    right:  0;
    top: 0;
}

.None {height: 50px;}
.Img:hover{
    transition-duration: 1s; transform: scale(1.2);
}

.LeftPannel {
    height: 50vh;
}
.AnimationLeftPannel { transform: translateX(-500px);height: 50vh; opacity: 0;  transition-duration:1s;}

.bottomPannel {
    transition-duration: 1s;
    background-color: rgba(255, 255, 255, 0.5);
  
    height: 10vh;
    width: 100%;
    position: absolute;
  left: 0;
    bottom: 0;
}